body{
    font-size: 10px;
}

.element1{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color:red;
}

.element2{
    width: 15em;
    height: 15em;
    margin: 1em;
    background-color:blue;
}

.element3{
    width: 9.4rem;
    height: 9.4rem;
    margin: 0.60rem;
    background-color:greenyellow;
}

