
.all{
    display: flex;
    justify-content: space-evenly;
}

.Box{
    border: solid black;
    width: 250px;
    height: 380px;

}


.Box2{
    border: solid black;
    width: 250px;
    height: 380px;
}


.Box3{
    border: solid black;
    width: 250px;
    height: 380px;
}

.photo{
    width:240px;
    height:170px;
    margin:5px;
}

.text{
  padding: 10px;
    margin: 0;
}

.Title{
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0 0;


}

.text2{
    padding: 10px;
    margin: 0;
}

.Title2{
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0 0;

}

.text3{
    padding: 10px;
    margin: 0;
}

.Title3{
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0 0;

}