*{
margin: 0;
}



.main-box{
    display:flex;
    width: 400px;
    height: 120px;
    border:5px solid black;
    border-radius: 10px;
   justify-self: center;
}

img{
    width: 100px;
    height: 100px;
    align-self: flex-end;
    padding-bottom: 10px;
}

.box-content{
    display: flex;
    flex-direction:column;
}

.Button{

    border:1px solid rgba(0, 0, 0,0.25);
    width: 120px;
    height: 20px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 160px;
    text-align: center;
    line-height: 20px;
}

.First-Title{
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;

}

.Text{
    margin-bottom: 10px;
    margin-left: 20px;
}