*{

}



.main-box{
    display:flex;
    width: 400px;
    height: 120px;
    border:5px solid black;
    border-radius: 10px;
   justify-self: center;
}

img{
    width: 100px;
    height: 100px;
    align-self: flex-end;
    padding-bottom: 10px;
}

.box-content{
    display: flex;
    flex-direction:column;

}

.wiadomosc{

    border:1px solid rgba(0, 0, 0,0.25);
    border-radius: 5px;
    font-size: 12px;
    align-items:flex-end;
}

/*    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    font-size: 12px;
    float: right;
    white-space:nowrap;
    margin: 10px;
    position: center;
    border:1px solid rgba(0, 0, 0,0.25);
    border-radius: 5px;
    padding: 3px 10px 3px 10px ;
