*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
    font-family: 'Roboto', sans-serif;
}

.Menu-bar-with{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.2 );
    align-items: center;
    justify-content: space-between;



}

.Logo{
    justify-content: flex-start;
    margin-left: 100px;
    font-size: 25px;
    color: #08A6E4;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    cursor: pointer;
    border: none;
    background: none;
}
.Logo-2{
    justify-content: flex-start;
    margin-left: 100px;
    font-size: 25px;
    color: #08A6E4;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    cursor: pointer;
    border: none;
    background: none;
}
.Logo:hover {
    color:royalblue;
}
.text-last:hover{
    color: pink;
    background:dodgerblue ;
    border-color: dodgerblue;
}
.Button-red:hover{
    color: black;
}
.Blue-button:hover{
    color: black;
}

.Green-button:hover{
    color: black;
}
.button-send:hover{
    color: pink;
    background:dodgerblue ;
    border-color: dodgerblue;
}
.Logo-2:hover{
    color:royalblue;
}

.menu{
    display: flex;
    gap: 80px;
    list-style: none;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    text-align: center;
    cursor: pointer;

}
.Width-text{
    width: 80px;
}


.menu li:hover{
    text-align: center;
    color: black;
    border-bottom: #08A6E4 3px solid;
    padding-bottom: 30px;
    margin-top: 32px;
    cursor: pointer;

}


.Page2 {

    flex-wrap: wrap;

}
.Inside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;


}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    padding-top: 130px;
}


.text-middle{

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 15px;


}


.text-last{
    width: 360px;
    height: 50px;
    color:white;
    font-size: 15px;
    border: 2px solid #08A6E4;
    border-radius: 50px;
    background-color: #08A6E4;
    text-align: center;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;

}


.button-h2{
    background: none;
    border: none;
}







.Photo-box{
    width:100%;
    display: flex;
    height: 400px;
    overflow: hidden;


}


.Background-laptop{
    background-image: url("../assets/Background.png");
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;

}


























.Page-3{
    background-color: white;
    height: 400px;
}

.Inside-page-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 250px;
    text-align: center;
    gap:130px;
    margin-top:100px;
    margin-left: 15px;
}

.Sales-text{
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top: 90px;

}



.Views{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 12px;
    padding-top: 15px;
}
.Daily{
    padding-top: 15px;
    font-size: 11px;
    color: #A5A5A5;
}

.Circle{
    background-color: #FB3B64;
    border-radius: 50px;
    width: 50px;
    height: 50px;


}
.Box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;

}


.Person-photo{
    background-image: url("../assets/Person.svg");
    background-repeat: no-repeat;
    width:34px;
    height:42px;
    position: absolute;
    background-size: contain;
    margin-left: 40px;


}

.Eye-photo{
    background-image: url("../assets/Eye.svg");
    background-repeat: no-repeat;
    width:55px;
    height:26px;
    position: absolute;
    background-size: contain;
    margin-left: 40px;


}


.Circle-2{
    background-color: #08A6E4;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.Views-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 12px;
    padding-top: 15px;
}
.Daily-2{
    padding-top: 15px;
    font-size: 11px;
    color: #A5A5A5;
    width: 70px;
    margin-left: 35px;
    margin-right: 35px;
}

.Box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.Catalot-photo{
    background-image: url("../assets/Catalog.svg");
    background-repeat: no-repeat;
    width:42px;
    height:38px;
    position: absolute;
    background-size: contain;
    margin-left: 40px;
}


.Circle-3{
    background-color: #55DFB4;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.Box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.Daily-3{
    padding-top: 15px;
    font-size: 11px;
    color: #A5A5A5;
    width: 70px;
    margin-left: 35px;
    margin-right: 35px;
}

.Views-3{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 12px;
    padding-top: 15px;
}

















.Page-color{
    width: 100%;
    height: 1226px;
    background: #F7F7F7;
    margin-top: 50px;
}



.container3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.maccbook{
    z-index: 4;
    align-self: flex-end;
    padding-bottom: 30px;
}
.White-box{
    width: 1000px;
    height: 320px;
    border: 1px solid #E8E9ED;
    background: white;
    display: flex;
    align-items:center;
    font: normal normal normal 16px/22px Open Sans;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 90px;

}

.square2{
    width: 150px;
    height: 150px;
    background: #FB3B64;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    position: absolute;
    margin: 20px 0 80px 700px;
    z-index: 1;
}


.Text-middle{
    width: 416px;

}

.Text-middle h1{
    margin-bottom: 20px;
    padding: 0;
    font-size: 32px;
}

.Red-line{
    border:solid 3px #FB3B64;
    width:310px ;
    margin-top: 40px;
}























.White-box-2{
    width: 1000px;
    height: 320px;
    border: 1px solid #E8E9ED;
    background: white;
    display: flex;
    align-items:center;
    font: normal normal normal 16px/22px Open Sans;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}



.Blue-line{
    border:solid 3px #08A6E4;
    width:310px ;
    margin-top: 40px;
}


.Text-middle-2{
    width: 416px;

}

.Text-middle-2 h1{
    margin-bottom: 20px;
    padding: 0;
    font-size: 32px;
    width: 250px;
    line-height: 33px;


}

.phone{
    z-index: 4;
    padding-right: 90px;
    padding-top: 50px;
    margin-left: 60px;
}

.Circle-blue{
    width: 280px;
    height: 280px;
    background: #07ACE6;
    border-radius: 280px;
    position: absolute;
    z-index: 1;
    margin-right: 600px;
    margin-left: 60px;
}


.box-with-mail{
    display: flex;
    align-items: center;
}







.White-box-3-4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-top: 40px;
}



.text-inside{
    width: 500px;
    margin-left: 40px;
}

.text-inside h1 {
    width: 300px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 32px;
}

.first-box{
    background: white;
    border: 1px solid #E8E9ED;
    height: 320px;
    width: 550px;

}

.second-box{
    background: #55DFB4;
    height: 320px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Trumpet{
 margin-top: 50px;
}


.Green-line{
    border:solid 3px #55DFB4;
    width:310px ;
    margin-top: 40px;
}





















.Background-white{
    height: 730px;
    width: 100%;
    background: white;


}
.text-pricing{
    text-align: center;
    width: 100%;
    height: 90px;
    font-size: 32px;
    margin-top: 90px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.Text-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}



.First-box{
    width: 302px;
    height: 401px;
    border: 1px solid #FB3B64;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;

}


.container4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Basic{
    font: normal normal bold 16px/1px sans-serif;
    margin-bottom: 300px;
    position: absolute;
}
.money{
    color: #FB3B64;
    font-size: 35px;
    margin-bottom: 200px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

.Menu-in-box{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}
.Menu-in-box div:first-child{
    margin-top: 140px;
}
.Menu-in-box div{
    margin-bottom: 20px;

}

.Menu-in-box img{
  margin-right: 10px;
}

.Button-red{
    position: absolute;
    width: 130px;
    text-align: center;
    height: 40px;
    background: #EB476E;
    color: white;
    font-size: 13px;
    line-height: 40px;
    border-radius: 23px;
    margin-top: 400px;
    border: none;
    cursor: pointer;
}












.Second-box{
    width: 320px;
    height: 440px;
    border: 1px solid #07ACE6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 10px 27px #07ACE629;

}

.Basic-2{
    font: normal normal bold 16px/1px sans-serif;
    margin-bottom: 350px;
    position: absolute;
}
.Limited-2{
    position: absolute;
    margin-bottom: 180px;
    font-size: 12px;
}
.money-2{
    color: #07ACE6;
    font-size: 35px;
    margin-bottom: 250px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 100 ;

}

.Menu-in-box-2{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}
.Menu-in-box-2 div:first-child{
    margin-top:165px;
}
.Menu-in-box-2 div{
    margin-bottom: 26px;

}

.Menu-in-box-2 img{
    margin-right: 10px;
}

.Blue-button{
    position: absolute;
    width: 130px;
    text-align: center;
    height: 40px;
    background: #07ACE6;
    color: white;
    font-size: 13px;
    line-height: 40px;
    border-radius: 23px;
    margin-top: 440px;
    box-shadow: 5px 10px 14px #07ACE629;
    border: none;
    cursor: pointer;
}




















.Thrid-box{

    width: 302px;
    height: 401px;
    border: 1px solid #55DFB4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;

}

.Basic-3{
    font: normal normal bold 16px/1px sans-serif;
    margin-bottom: 300px;
    position: absolute;
}
.money-3{
    color: #55DFB4;
    font-size: 35px;
    margin-bottom: 200px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

.Menu-in-box-3{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}
.Menu-in-box-3 div:first-child{
    margin-top: 140px;
}
.Menu-in-box-3 div{
    margin-bottom: 20px;

}

.Menu-in-box-3 img{
    margin-right: 10px;
}

.Green-button{
    position: absolute;
    width: 130px;
    text-align: center;
    height: 40px;
    background: #55DFB4;
    color: white;
    font-size: 13px;
    line-height: 40px;
    border-radius: 23px;
    margin-top: 400px;
    border: none;
    cursor: pointer;
}

.Limited{
    position: absolute;
    margin-bottom: 130px;
    font-size: 12px;
}













.Last-page{
    width: 100%;
    height: 500px;
    background: white;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 40px;

}


.First-box-photo{
    width: 400px;
    height: 400px;


}
.info-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: #A5A5A5;
}

.Mail{
    background-image: url("../assets/Mail Icon.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin-right: 10px;


}
.Phone{
    background-image: url("../assets/Phone Icon.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin: 0 10px 0 20px;
}
.text-question h1{
    padding:0 ;
    font-size: 49px;
    margin-bottom: 10px;
}
.text-question{
     font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100 ;
    margin-bottom: 40px;
 }

























.Name-email{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700 ;
}

.Second-box-name{
    width:430px ;
    height: 400px;

}


.text-with-checkmark{
    width: 440px;
    height: 108px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top:40px;
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-weight: 100 ;

}

input{
    width: 174px;
    height: 24px;
    cursor: pointer;
}


.Name-with-line{
    color: #08A6E4;
    margin-bottom: 40px;

}

.line-name{
    border-bottom: 1px solid #95989A;
    width: 100%;
    margin-top: 40px;

}

.Email-with-line{
    color: #08A6E4;
    margin-top: 40px;
}

.line-Email{
    border-bottom: 1px solid #95989A;
    width: 100%;
    margin-top: 40px;

}


.button-send{
    position: absolute;
    width: 226px;
    text-align: center;
    height: 57px;
    background: #08A6E4;
    color: white;
    font-size: 13px;
    line-height: 57px;
    border-radius: 35px;
    box-shadow: 5px 10px 14px #07ACE629;
    margin-left: 204px;
    cursor: pointer;
    border: none;
}







.Bottom-banner{
    height: 89px;
    width: 100%;
    background: #F7F7F7;
    box-shadow: 0px -5px 40px #00000029;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Twitter-fb{
    margin-right: 100px;
    margin-left: 10px;

}

.Twitter-fb button {

    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
}



.Twitter-fb img:first-child{
    margin-right: 20px;
}


.box-with-mail{
    display: flex;
    flex-direction: row;
}























.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #08A6E4 ;
    position: absolute;
    height: 3px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}


#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {

    .Inside-page-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        gap:40px;
        margin-top: 200px;
    }

    .Background-laptop{
        width: 100%;
        -webkit-transform: scale(1.8);
        margin-bottom: 50px;
    }

    .Daily{
        font-size: 16px;

    }
    .Daily-2{
        font-size: 16px;
        width: 100px;
    }
    .Daily-3{
        font-size: 16px;
        width: 100px;
    }


    .Sales-text{
        width: 350px;
        height: 120px;
        text-align: center;
        padding: 0;
        font-size: 40px;

    }

    .Catalot-photo{
        margin-left: 110px;
        height: 57px;
        width: 63px;

    }


     .Box-3{
        width: 124px;
     }


     .Circle-3{
         width: 75px;
         height: 75px;
         margin-left: 45px;
     }

    .Views-3{
        font-size: 22px;
        margin-top: 10px;
    }



    .Catalot-photo{
        margin-left: 110px;
        height: 57px;
        width: 63px;

    }


    .Box-3{
        width: 124px;
    }


    .Circle-3{
        width: 75px;
        height: 75px;
        margin-left: 45px;
    }

    .Views-3{
        font-size: 22px;
        margin-top: 10px;
    }












    .Eye-photo{
        margin-left: 110px;
        height: 39px;
        width: 82px;

    }


    .Box-2{
        width: 124px;
    }


    .Circle-2{
        width: 75px;
        height: 75px;
        margin-left: 45px;
    }

    .Views-2{
        font-size: 22px;
        margin-top: 10px;
    }







    .Person-photo{
        margin-left: 80px;
        height: 63px;
        width: 51px;

    }


    .Box{
        width: 124px;
    }


    .Circle{
        width: 75px;
        height: 75px;
        margin-left: 25px;
    }

    .Views{
        font-size: 22px;
        margin-top: 10px;
    }






    .Page-color{
        height: 1820px;
    }




    .Thrid-box{
        width: 400px;
        height: 360px;
        font-size: 25px;
        border-radius: 30px;
        margin-top: 40px;

    }

    .Menu-in-box-3{
        margin-left: 133px;
        margin-bottom: 138px;
        text-align: left;
        font-size: 25px;

    }


    .Basic-3{
        margin-right: 239px;
        margin-top: 204px;
        font-size: 26px;
    }



    .money-3{
        margin-right: 240px;
        margin-top: 217px;
        font-size: 60px;

    }

    .Menu-in-box-3 img{
        height: 16px;
    }






    .Green-button{
        margin-bottom: 40px;
        height: 53px;
        width: 159px;
        font-size: 17px;
    }



    .Limited{
        margin-right: 231px;
        margin-top: 261px;
        font-size: 17px;
    }

















    .container3{
    margin-top: 350px;
}


    .Logo{
        font-size: 38px;
        margin-left: 20px;
    }

    .text-middle{
        width: 250px;
        text-align: center;
    }

.text-last{
    width: 270px;

}


    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        gap:0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        color: white;

    }
    #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding-left: 60px;
        justify-content: left;
        font-size: 15px;
        color: #A5A5A5;

    }
    #menu-toggle:checked ~ .menu li:hover {

        color: black;

    }

    #menu-toggle:checked ~ .menu li:last-child {

        box-shadow: 0 5px 6px #00000029;
        padding-bottom: 20px;

    }
    #menu-toggle:checked ~ .menu li:first-child {

        margin-top: 40px;
        padding-top: 20px;

    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #A5A5A5;
        background-color: white;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }



    .White-box{
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;


    }

    .White-box-2{
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;


    }


    .White-box-2 img{
        margin-left: 160px;
        padding-top: 0px;
        margin-bottom: 40px;
        width: 240px;
        height: 150px;
    }

    .Circle-blue{
        width: 180px;
        height: 180px;
        margin-right: 32px;
        margin-bottom: 277px;
    }

    .Text-middle-2 h1{
        font-size: 40px;
        width: 320px;
        margin-bottom: 31px;

    }
    .Text-middle-2{
        font-size: 20px;
        width: 370px;
        margin-left: 20px;
    }

    .Blue-line{
        display: none;
    }




    .Red-line{
    display: none;
}


   .maccbook{
       display: flex;
       align-self: center;
       padding-bottom: 46px;
       width: 250px;
       height: 150px;

   }



   .Text-middle{
       width: 370px;
       font-size: 20px;
       float: left;
       margin-left: 20px;
   }

    .Text-middle h1{
        font-size: 40px;
        margin-bottom: 70px;
    }

    .square2{
        margin: -147px 534px 175px 671px;
        width: 130px;
        height: 130px;


    }


    .White-box-3-4{
        flex-direction: column;
        gap: 0;
        padding-top: 0;
        width: 80%;

    }



    .first-box{
        width: 400px;
        height: 360px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
    }




    .Trumpet{
        width: 370px;
        height: 310px;
        margin-top: 113px;
        margin-right: 40px;
    }

    .second-box{
        height: 250px;
        width: 100%;


    }



    .text-inside{
        font-size: 20px;
        padding-bottom: 0px;
        width: 311px;

    }


    .text-inside h1 {
        font-size: 40px;
        padding-top: 0;
        width: 308px;

    }

    .Green-line{
        display: none;
    }




    .Twitter-fb{
        margin-right: 41px;

    }


    .Text-banner{
        flex-direction: column;
    }


    .Background-white{
        height: 1414px;
    }





    .First-box{
        width: 400px;
        height: 360px;
        font-size: 25px;
        border-radius: 30px;
    }

    .Menu-in-box{
        margin-left: 133px;
        margin-bottom: 138px;
        text-align: left;
        font-size: 25px;

    }


    .Basic{
        margin-right: 239px;
        margin-top: 204px;
        font-size: 26px;
    }



    .money{
        margin-right: 240px;
        margin-top: 217px;
        font-size: 60px;

    }

    .Menu-in-box img{
        height: 16px;
    }






    .Button-red{
        margin-bottom: 40px;
        height: 53px;
        width: 159px;
        font-size: 17px;
    }



    .text-pricing{
        font-size: 52px;
        margin-top: 47px;
    }






     .Second-box{
         height: 360px;
         width: 448px;
         font-size: 25px;
         margin-top: 40px;
         border-radius: 30px;
    }





    .Menu-in-box-2{
        margin-left: 189px;
        margin-bottom: 138px;
        text-align: left;
        font-size: 25px;

    }





    .money-2{
        margin-right: 240px;
        margin-top: 273px;
        font-size: 60px;

    }




    .Basic-2{
        margin-right: 239px;
        margin-top: 265px;
        font-size: 26px;
    }


    .Blue-button{
        margin-bottom: 80px;
        height: 53px;
        width: 159px;
        font-size: 17px;
    }



    .Limited-2{
        margin-right: 231px;
        margin-top: 312px;
        font-size: 17px;
    }

    .Menu-in-box-2 img{
        height: 16px;
    }


    .Last-page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }










    .Bottom-banner{
        margin-top: 177px;
    }



    .Name-email{
        margin-top: 50px;

    }


    .info-block div:last-child{
        line-height: 26px;
    }

    .Phone{
        margin-right: 10px;
        text-align: center;
        margin-left: 0px;

    }



    .info-block{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .text-with-checkmark{
        width: 385px;
        gap: 10px;
        font-size: 14px;

    }




    .button-send{
        width: 254px;
        height: 60px;
        font-size: 17px;
        margin-left: 149px;
        margin-top: 43px;
    }





    .line-Email{
        width: 90%;

    }


    .line-name{
        width: 90%;

    }




    .Logo-2{
        justify-content: flex-start;
        margin-left: 34px;
        font-size: 28px;
        color: #08A6E4;
        opacity: 0.7;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        cursor: pointer;
        border: none;
        background: none;

    }


    .First-box-photo{
        margin-right: 40px;
    }


}










@media (max-width: 900px) {

    .Inside-page-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        gap:40px;
        margin-top: 200px;
    }

    .Background-laptop{
        width: 100%;
        -webkit-transform: scale(1.8);
        margin-bottom: 50px;
    }

    .Daily{
        font-size: 16px;

    }
    .Daily-2{
        font-size: 16px;
        width: 100px;
    }
    .Daily-3{
        font-size: 16px;
        width: 100px;
    }


    .Sales-text{
        width: 350px;
        height: 120px;
        text-align: center;
        padding: 0;
        font-size: 40px;
        margin-top: 20px;

    }

    .Catalot-photo{
        margin-left: 110px;
        height: 57px;
        width: 63px;

    }


    .Box-3{
        width: 124px;
    }


    .Circle-3{
        width: 75px;
        height: 75px;
        margin-left: 45px;
    }

    .Views-3{
        font-size: 22px;
        margin-top: 10px;
    }



    .Catalot-photo{
        margin-left: 110px;
        height: 57px;
        width: 63px;

    }


    .Box-3{
        width: 124px;
    }


    .Circle-3{
        width: 75px;
        height: 75px;
        margin-left: 45px;
    }

    .Views-3{
        font-size: 22px;
        margin-top: 10px;
    }












    .Eye-photo{
        margin-left: 110px;
        height: 39px;
        width: 82px;

    }


    .Box-2{
        width: 124px;
    }


    .Circle-2{
        width: 75px;
        height: 75px;
        margin-left: 45px;
    }

    .Views-2{
        font-size: 22px;
        margin-top: 10px;
    }







    .Person-photo{
        margin-left: 80px;
        height: 63px;
        width: 51px;

    }


    .Box{
        width: 124px;
    }


    .Circle{
        width: 75px;
        height: 75px;
        margin-left: 25px;
    }

    .Views{
        font-size: 22px;
        margin-top: 10px;
    }






    .Page-color{
        height: 1820px;
    }




    .Thrid-box{
        width: 400px;
        height: 360px;
        font-size: 25px;
        border-radius: 30px;
        margin-top: 40px;

    }

    .Menu-in-box-3{
        margin-left: 133px;
        margin-bottom: 138px;
        text-align: left;
        font-size: 25px;

    }


    .Basic-3{
        margin-right: 239px;
        margin-top: 204px;
        font-size: 26px;
    }



    .money-3{
        margin-right: 240px;
        margin-top: 217px;
        font-size: 60px;

    }

    .Menu-in-box-3 img{
        height: 16px;
    }






    .Green-button{
        margin-bottom: 40px;
        height: 53px;
        width: 159px;
        font-size: 17px;
    }



    .Limited{
        margin-right: 231px;
        margin-top: 261px;
        font-size: 17px;
    }

















    .container3{
        margin-top: 350px;
    }


    .Logo{
        font-size: 38px;
        margin-left: 20px;
    }

    .text-middle{
        width: 250px;
        text-align: center;
    }

    .text-last{
        width: 270px;

    }


    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        gap:0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        color: white;

    }
    #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding-left: 60px;
        justify-content: left;
        font-size: 15px;
        color: #A5A5A5;

    }
    #menu-toggle:checked ~ .menu li:hover {

        color: black;

    }

    #menu-toggle:checked ~ .menu li:last-child {

        box-shadow: 0 5px 6px #00000029;
        padding-bottom: 20px;

    }
    #menu-toggle:checked ~ .menu li:first-child {

        margin-top: 40px;
        padding-top: 20px;

    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #A5A5A5;
        background-color: white;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }



    .White-box{
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;


    }

    .White-box-2{
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;


    }


    .White-box-2 img{
        margin-left: 160px;
        padding-top: 0px;
        margin-bottom: 40px;
        width: 240px;
        height: 150px;
    }

    .Circle-blue{
        width: 180px;
        height: 180px;
        margin-right: 32px;
        margin-bottom: 277px;
    }

    .Text-middle-2 h1{
        font-size: 40px;
        width: 320px;
        margin-bottom: 31px;

    }
    .Text-middle-2{
        font-size: 20px;
        width: 370px;
        margin-left: 20px;
    }

    .Blue-line{
        display: none;
    }




    .Red-line{
        display: none;
    }


    .maccbook{
        display: flex;
        align-self: center;
        padding-bottom: 46px;
        width: 250px;
        height: 150px;

    }



    .Text-middle{
        width: 370px;
        font-size: 20px;
        float: left;
        margin-left: 20px;
    }

    .Text-middle h1{
        font-size: 40px;
        margin-bottom: 70px;
    }

    .square2{
        margin: -147px 534px 175px 671px;
        width: 130px;
        height: 130px;


    }


    .White-box-3-4{
        flex-direction: column;
        gap: 0;
        padding-top: 0;
        width: 80%;

    }



    .first-box{
        width: 100%;
        height: 360px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }




    .Trumpet{
        width: 370px;
        height: 310px;
        margin-top: 113px;
        margin-right: 40px;
    }

    .second-box{
        height: 250px;
        width: 100%;


    }



    .text-inside{
        font-size: 20px;
        padding-bottom: 0px;
        width: 311px;

    }


    .text-inside h1 {
        font-size: 40px;
        padding-top: 0;
        width: 308px;

    }

    .Green-line{
        display: none;
    }




    .Twitter-fb{
        margin-right: 41px;

    }


    .Text-banner{
        flex-direction: column;
    }


    .Background-white{
        height: 1414px;
    }





    .First-box{
        width: 400px;
        height: 360px;
        font-size: 25px;
        border-radius: 30px;
    }

    .Menu-in-box{
        margin-left: 133px;
        margin-bottom: 138px;
        text-align: left;
        font-size: 25px;

    }


    .Basic{
        margin-right: 239px;
        margin-top: 204px;
        font-size: 26px;
    }



    .money{
        margin-right: 240px;
        margin-top: 217px;
        font-size: 60px;

    }

    .Menu-in-box img{
        height: 16px;
    }






    .Button-red{
        margin-bottom: 40px;
        height: 53px;
        width: 159px;
        font-size: 17px;
    }



    .text-pricing{
        font-size: 52px;
        margin-top: 47px;
    }






    .Second-box{
        height: 360px;
        width: 448px;
        font-size: 25px;
        margin-top: 40px;
        border-radius: 30px;
    }





    .Menu-in-box-2{
        margin-left: 189px;
        margin-bottom: 138px;
        text-align: left;
        font-size: 25px;

    }





    .money-2{
        margin-right: 240px;
        margin-top: 273px;
        font-size: 60px;

    }




    .Basic-2{
        margin-right: 239px;
        margin-top: 265px;
        font-size: 26px;
    }


    .Blue-button{
        margin-bottom: 80px;
        height: 53px;
        width: 159px;
        font-size: 17px;
    }



    .Limited-2{
        margin-right: 231px;
        margin-top: 312px;
        font-size: 17px;
    }

    .Menu-in-box-2 img{
        height: 16px;
    }


    .Last-page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: 20px;


    }










    .Bottom-banner{
        margin-top: 177px;
    }



    .Name-email{
        margin-top: 50px;

    }


    .info-block div:last-child{
        line-height: 26px;
    }

    .Phone{
        margin-right: 10px;
        text-align: center;
        margin-left: 0px;

    }



    .info-block{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .text-with-checkmark{
        width: 385px;
        gap: 10px;
        font-size: 14px;

    }




    .button-send{
        width: 254px;
        height: 60px;
        font-size: 17px;
        margin-left: 149px;
        margin-top: 43px;
    }





    .line-Email{
        width: 90%;

    }


    .line-name{
        width: 90%;

    }




    .Logo-2{
        justify-content: flex-start;
        margin-left: 34px;
        font-size: 28px;
        color: #08A6E4;
        opacity: 0.7;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        cursor: pointer;
        border: none;
        background: none;

    }


    .First-box-photo{
        margin-right: 40px;
    }


}


















