.plan-content-left{
    margin: 30px;
    border: 1px solid #ddd;
}

.plan-content-right{
    margin: 30px;
    border: 1px solid #ddd;
}

/* Nie mialem uzupelnionego css nie moglem w pelni zrobic polecenia