.opacityTest{

}

.first{
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, .4);   <!--uzywajac rgba tlo staje sie przezroczyste za tekstem a uzywajac opacity to wszytstko staje sie przejrzyste razem z teksetm pomimo takiej samej wartosci 0.4 rgba jest duzo ciemniejsze niz opacity -->
}


.second{
    background-color: #b2b2b2;
    opacity: .4;
}

.gradient{
    width:300px;
    height: 300px;
    background: -moz-linear-gradient(top,  #a9e4f7 21%, #0fb4e7 100%);
    background: -webkit-linear-gradient(top,  #a9e4f7 21%,#0fb4e7 100%);
    background: linear-gradient(to bottom,  #a9e4f7 21%,#0fb4e7 100%);
}

.image{
    background-image: url(" ../images/sugar-gumdrop-candy-and-scoop.jpg");
    width: 100px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}