body{
    background-color: blue;
}
p{
    color: saddlebrown;
}
#first-paragraph{
    color: green;
}
#second-paragraph{
    color: violet;
}
.block{
    width: 100px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: red;
    color: white;
}