.red {
    color:red;
}
.green {
    color: rgba(34,57,185, 0.5);

}
.ab {
    background-color:#FF00FF;
}
.ef {
    background-color: rgb(63,191,191);
}
.ij {
    background-color: hsl(0,10%,50%);
}
.container {
    background-color:lightblue;
    width: 200px;
}
.first {
    background-color: aquamarine;
    width: 50%;
}
.second {
    background-color: cornsilk;
    width: 10em;
}