

.login{
    background:white ;
    border-radius: 4px;
    box-shadow:  0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
}



input{
    padding: 15px;
    border: 1px solid #ddd;
    display: block;
    width: 400px;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, .1);
    border-radius: 3px;
    box-sizing:border-box;
}

body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

button{
    background: #05A081;
    padding: 15px 30px;
    display: inline-block;
    color: white;
    border:none;
    border-radius: 5px;
}
.form-last-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.remind-pass{
    color:#05A081;
    text-decoration: none;
}

.form-control{
    font-size: 10px;
    opacity: 0.4;
}

.form-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


.form-row{
    padding-top: 18px;
}



/*Mam problem z przesunieciem calego boksa na srodek jakby */
/*wymiary flexboxa sa tylko wydluzone szerokosciowo do konca strony a*/
/*wysokosciowo do konca obiektu i */
/*nie wiem jak zrobic zeby rozciagal sie na cala strone */