.card__heading{
    text-align: center;

}
.card__description{
    text-align: center;
}

.card__border{
    margin: 300px 100px ;
    background: rgba(255, 215, 0, 0.2);
    width: 300px;
    border-style: double;
    border-color: gold;
    font-family: Snell Roundhand, cursive;
}

.dot.dot--top-left{
    background: gold;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: block;
    position: absolute;
    top: 290px;
    left: 98px;

}

.dot.dot--top-right{
    background: gold;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: block;
    position: absolute;
    top: 290px;
    left: 398px;

}
.dot.dot--bottom-left{
    background: gold;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: block;
    position: absolute;
    top: 408px;
    left:98px;

}
.dot.dot--bottom-right{
    background: gold;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: block;
    position: absolute;
    top: 408px;
    left:398px;

}