.project-over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;

}

.project{
    position: relative;
    text-align: center;
    color:white;
}
.boksik{
    background-color:rgba(0, 128, 255, 0.5);
    width: 500px;
    height: 337px;
    display: block;
    position: absolute;
    z-index: 2;
    left:139px;
    top:-10px;
}

img{
    z-index: 1;
}

.project-technology span:first-child{
    border:solid 1px white;
    border-radius: 40px;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
}

.project-technology span:last-child{
    border:solid 1px white;
    border-radius: 40px;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;

}

.project-technology span:nth-child(2){
    border:solid 1px white;
    margin: 10px;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    border-radius: 40px;

}

